# Java/Maven
/target/
*.class
*.log
*.tmp
*.swp
*.swo
*.iml
.idea/
*.ipr
*.iws
*.bak
.DS_Store
.settings/
.project
.classpath
/.vscode/
/test-output/
/.env
.env
# OS
Thumbs.db
Desktop.ini
# Reports
*.html
# ExtentReports
/ExtentReport.html
/screenshots/
# Jupyter
.ipynb_checkpoints/
# Misc
*.orig
*.rej
